@model Domain.Entities.Member

@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "Editar socio";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Editar socio</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group mb-3">
                            <label asp-for="Name" class="control-label">Nombre y apellido</label>
                            <input asp-for="Name" placeholder="Apellido, Nombre" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" placeholder="socio@mail.com" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" placeholder="+54 9 11 1234-5678" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Dni" class="control-label"></label>
                            <input asp-for="Dni" placeholder="12.345.678" class="form-control" />
                            <span asp-validation-for="Dni" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="BirthDate" class="control-label"></label>
                            <input asp-for="BirthDate" class="form-control" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="MembershipPlanId" class="control-label"></label>
                            <select asp-for="MembershipPlanId" class="form-control" asp-items="ViewBag.MembershipPlanId">
                                <option selected="selected" value="">Elegir plan de pago</option>
                            </select>
                        </div>
                        <div class="form-group mt-4 text-center">
                            <input type="submit" value="Guardar cambios" class="btn btn-success" />
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
