@{
    ViewData["Title"] = "Inicio";
}

<section class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Membriana: Gestión de socios simplificada</h1>
        <p class="lead">Una plataforma completa para gestionar pagos de afiliados de manera eficiente.</p>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">¿Por qué elegir Membriana?</h2>
        <p class="lead text-center">Con este software, vas a poder administrar los socios afiliados a tu organización de forma centralizada y desde cualquier dispositivo con acceso a internet. Membriana te ofrece las herramientas necesarias para una gestión fluida y sin complicaciones.</p>
    </div>
</section>
<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Funcionalidades</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de socios</h5>
                        <p class="card-text">Realizá el seguimiento de la información de los afiliados.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Seguimiento de pagos</h5>
                        <p class="card-text">Controlá el estado y los pagos recibidos de cada socio.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Mensajería automática</h5>
                        <p class="card-text">Enviá recordatorios de pagos pendientes para evitar retrasos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Planes y precios</h5>
                        <p class="card-text">Establecé precios para cada plan según el tipo de membresía.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Acceso multi usuario</h5>
                        <p class="card-text">Configurá diferentes niveles de acceso para los usuarios.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Pagos virtuales</h5>
                        <p class="card-text">Ofrecele a los socios pagar en efectivo o con Mercado Pago.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center py-5">
    <div class="container">
        <h2 class="display-4 mb-4">Gestión de socios en la nube</h2>
        <p class="lead mb-4">Transformá la manera en que gestionás tu organización.</p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Authentication" asp-action="Register">Comenzá ahora</a>
    </div>
</section>