@using Mvc.Areas.Admin.ViewModels
@using Mvc.ViewModels
@model MemberViewModel

@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "Nuevo socio";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Nuevo socio</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="form-group mb-3">
                            <label asp-for="Name" class="control-label">Nombre y apellido</label>
                            <input asp-for="Name" placeholder="Apellido, Nombre" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" placeholder="socio@mail.com" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="MembershipPlanId" class="control-label"></label>
                            <select asp-for="MembershipPlanId" class="form-control" asp-items="ViewBag.MembershipPlans">
                                <option selected="selected" value="">Elegir plan de pago</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary w-100">Crear</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
