<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Políticas de privacidad</a>
    </div>
</footer>
