@{
    Layout = "_Layout";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Membriana</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <li class="nav-item d-flex align-items-center">
                            <form asp-controller="Authentication" asp-action="Logout" method="post" class="d-inline m-0 p-0">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="nav-link btn btn-link text-dark p-0 m-0" style="text-decoration: none;">
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Ver perfil</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Login">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Register">Registrarse</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="pb-3">
    <div class="container">
        @RenderBody()
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</main>